.content {
    width: 600px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    border: none;
    background-color: #EFEFEF;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.input-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    margin: 0 !important;
}

.list {
    width: 100%;
}

ul {
    width: 100%;
    padding: 0;
}

li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    padding: 0 !important;
}

a {
    cursor: pointer;
}

header {
    background-color: white;
    padding: 20px 0;
    border-bottom: 1px solid rgb(200, 200, 200);
}

.logo {
    color: #16507b;
}

.logo h2 {
    font-weight: normal;
    font-size: 22px;
}

.menu {
    width: 80%;
    text-align: right;
}

.menu a {
    color: #124265;
    font-size: 14px;
    text-decoration: none;
    margin-right: 20px;
    /*transition: 0.5s;*/
}

.menu a:hover {
    color: #007bff;
}

.menu .btn-menu {
    background-color: #007bff;
    display: inline-block;
    padding: 8px 16px;
    color: white;
    border-radius: 7px;
}

.menu .btn-menu:hover {
    background-color: #124265;
    color: white;
}

section.sobre {
    padding: 80px 0;
}

.chamada-sobre {
    width: 100%;
    text-align: center;
}

.chamada-sobre h2 {
    color: #124265;
    text-transform: uppercase;
}

.chamada-sobre p {
    font-size: 14px;
    color: gray;
    margin: 10px 0;
}

.conteudo-sobre {
    display: flex;
    flex-wrap: wrap;
}

.conteudo-sobre p {
    width: 48%;
    margin-right: 2%;
    color: #444444;
}